DATABASE_URL=postgresql://postgres:postgres@db:5432/photo_palettes
ENVIRONMENT=development
SUPABASE_URL=REPLACE_ME_https://dashboard.heroku.com/apps/photo-palettes-backend/settings
SUPABASE_KEY=REPLACE_ME_https://dashboard.heroku.com/apps/photo-palettes-backend/settings
PUSHOVER_APP_TOKEN=REPLACE_ME_https://pushover.net/apps/c9a8mo-contact_forms
PUSHOVER_USER_TOKEN=REPLACE_ME_https://pushover.net/ 
CLOUDINARY_URL=REPLACE_ME_https://dashboard.heroku.com/apps/photo-palettes-backend/settings
DEBUG_CLOUDINARY_LOCALLY=False