DATABASE_URL=postgresql://postgres:postgres@db:5432/photo_palettes
ENVIRONMENT=development
BSKY_EMAIL=photopalettes.com
BSKY_PASSWORD=REPLACE_ME_PROTON_PASS
INSTAGRAM_USERNAMEp=REPLACE_ME_PROTON_PASS
INSTAGRAM_PASSWORD=REPLACE_ME_PROTON_PASS