DATABASE_URL=postgresql://postgres:postgres@db:5432/photo_palettes
ENVIRONMENT=development
BLUESKY_EMAIL=photopalettes.com
BLUESKY_PASSWORD=REPLACE_ME_PROTON_PASS
INSTAGRAM_USERNAME=REPLACE_ME_PROTON_PASS
INSTAGRAM_PASSWORD=REPLACE_ME_PROTON_PASS
CLOUDINARY_URL=REPLACE_ME_https://dashboard.heroku.com/apps/photo-palettes-backend/settings
TWITTER_API_KEY="REPLACE_ME_https://developer.x.com/en/portal/projects/1971278225256087556/apps/31555111/keys"
TWITTER_API_KEY_SECRET="REPLACE_ME_https://developer.x.com/en/portal/projects/1971278225256087556/apps/31555111/keys"
TWITTER_ACCESS_TOKEN="REPLACE_ME_https://developer.x.com/en/portal/projects/1971278225256087556/apps/31555111/keys"
TWITTER_ACCESS_TOKEN_SECRET="REPLACE_ME_https://developer.x.com/en/portal/projects/1971278225256087556/apps/31555111/keys"
TWITTER_CLIENT_ID="REPLACE_ME_https://developer.x.com/en/portal/projects/1971278225256087556/apps/31555111/keys"
TWITTER_CLIENT_SECRET="REPLACE_ME_https://developer.x.com/en/portal/projects/1971278225256087556/apps/31555111/keys"