DATABASE_URL=postgresql://postgres:postgres@db:5432/photo_palettes
ENVIRONMENT=development
BSKY_EMAIL=photopalettes.com
BSKY_PASSWORD=REPLACE_ME_PROTON_PASS
INSTAGRAM_USERNAME=REPLACE_ME_PROTON_PASS
INSTAGRAM_PASSWORD=REPLACE_ME_PROTON_PASS
CLOUDINARY_URL=REPLACE_ME_https://dashboard.heroku.com/apps/photo-palettes-backend/settings
